@{
    ViewBag.Title = "About";
    var ImagePath = "~/Media/AboutHome/Deandre.jpg";
}

<h2> About Me</h2>
<br/>
<h4>Bio</h4>
<br/>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6"><b>Bio</b></div>
        <div class="col-sm-6"><b>Deandre Vanmali</b></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>
                Hi there, I am Deandre Vanmali. I'm a 2nd year student. Generally I'm a really future-driven person and goal-oriented. I hate not being able to figure something out and will probably not stop trying till I get it right - which I believe is a good quality to have especially for this module. Just for interest sake - I am from Limpopo and grew up in a small town, I am from a huge and diverse family. I am the first one in my family to study IT. I love reading, writing and binging series when university work is not trying to swallow me whole. And that’s a wrap.
            </p>
        </div>
        <div class="col-sm-6">
            <img  src="@Url.Content(ImagePath)" style="width:200px"/> 
        </div>
    </div>

</div>

<style>
    .container-fluid {
        background-color: lightblue;
        padding: 20px;
    }
</style>