

@{
    ViewBag.Title = "Home Page";
}

<h1> Media</h1>
<br />
<h3>Add Media</h3>
<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6"><b>Description</b></div>
        <div class="col-sm-6"><b>Option Selection</b></div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <p>   A user can upload and download files- namely a document, image, and video. The user must select from the radio button what type of file is being uploaded and select the file and upload it. The files uploaded by the user will be saved and displayed on the relevant screens relating to the specific files. Such as the ‘Files’ tab will display all the document files the user has uploaded.      </p>

        </div>
        <div class="col-lg-6">

            
            <div>
                <div class="form-horizontal">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))

                    {
                            <div>
                                <div> Document @Html.RadioButton("FileType", "Document")</div>
                                <div>Image   @Html.RadioButton("FileType", "Image") </div>
                                <div>Video  @Html.RadioButton("FileType", "Video") </div>
                            </div>

                            <br/>
                            <div><input type="file" name="files" /></div>
                            <br />
                            <div><input type="submit" value="Upload" /></div>
                            }
                        </div>
                        <br />
                    </div>
        </div>
    </div>
</div>

<style>
    .container-fluid{
        background-color: lightblue;
        padding: 20px;
    }
</style>
